<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Student Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://www.southhills.edu/current-students/class-times/">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Class Times</ion-label>
    </ion-item>
    <ion-item href="https://www.southhills.edu/current-students/academic-calendar/">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>Academic Calendar</ion-label>
    </ion-item>
    <ion-item href="https://www.southhills.edu/current-students/student-clubs/">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Student Clubs</ion-label>
    </ion-item>
    <ion-item href="https://www.southhills.edu/deanslist/">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Deans List</ion-label>
    </ion-item>
    <ion-item href="https://www.southhills.edu/centreready/">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>Centre Ready</ion-label>
    </ion-item>
    <ion-item href="https://www.southhills.edu/media/PDF/catalog/catalog_2022-23.pdf" download="">
      <ion-icon name="download-outline"></ion-icon>
      <ion-label>Course-Catalog [4.29MB]</ion-label>
    </ion-item>
    <ion-item href="https://www.southhills.edu/help/">
      <ion-icon name="help-outline"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-item>
    <ion-item id="uw211" href="https://www.pa211.org">
      <ion-icon id="uw211" name="fitness-outline"></ion-icon>
      <ion-label>United Way - 211:Get Help</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

