<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <img src="../../assets/SouthHillsWebRetina.jpg">
    </ion-title>
    <ion-segment>
      <a href="tel:1-888-282-7427">
      <ion-segment-button>
        <ion-icon name="call-outline"></ion-icon>
      </ion-segment-button>
      </a>
      <a href="https://www.facebook.com/SHSBT">
      <ion-segment-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-segment-button>
      </a>
      <a href="https://twitter.com/SouthHillsSBT">
      <ion-segment-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-segment-button>
      </a>
      <a href="https://www.linkedin.com/school/south-hills-school-of-business-and-technology/">
      <ion-segment-button>
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-segment-button>
      </a>
      <a href="https://www.youtube.com/SouthHillsEdu">
      <ion-segment-button>
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-segment-button>
      </a>
      <a href="https://www.instagram.com/south.hills/">
      <ion-segment-button>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-segment-button>
      </a>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-justify">
<p>
  South Hills School of Business & Technology is a post-secondary career school with two campus 
  locations in Pennsylvania that is accredited by the <a href="">Accrediting Commission of Career Schools and Colleges (ACCSC)</a>.
</p>
<p>
  South Hills School of Business & Technology prepares people for their first job, professional advancement, or a completely 
  new career through a variety of specialized associate degree, diploma, certificate, continuing education, and professional 
  development programs in business, technology, healthcare, criminal justice, and graphic arts. Established in 1970 to fill a 
  regional need for more specialized skills training in Central Pennsylvania, South Hills has two campuses located in 
  <a href="https://www.southhills.edu/locations/state-college/">State College</a> and <a href="https://www.southhills.edu/locations/altoona/">Altoona</a>. Our students range from recent high school graduates to returning adults looking to add skills to their résumés for new opportunities..
</p>
<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title>"Teaching People, Changing Lives"</ion-card-title>
  </ion-card-header>
</ion-card>
</ion-content>
