<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Contact Information</ion-label>
    </ion-list-header>
    <ion-item href="https://www.southhills.edu/faculty/">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Faculty Directory</ion-label>
    </ion-item>
    <ion-item href="https://www.southhills.edu/staff/">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Staff Directory</ion-label>
    </ion-item>
    <ion-item href="https://www.southhills.edu/about/administrative-staff/#academicaffairs">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contact Academic Affairs</ion-label>
    </ion-item>
    <ion-item href="https://www.southhills.edu/about/administrative-staff/#financialaid">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contact Financial Aid</ion-label>
    </ion-item>
    <ion-item href="https://www.southhills.edu/about/administrative-staff/#bursar">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contact the Bursar's Office</ion-label>
    </ion-item>
    <ion-item href="https://www.southhills.edu/about/administrative-staff/#studentservices">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contact Student & Alumni Services</ion-label>
    </ion-item>
    <ion-item href="https://www.southhills.edu/about/administrative-staff/#careerservices">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Contact Career Services</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
